# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore postgresql data
/db/pgsql

# Ignore database configuration
/config/database.yml

# Ignore all logfiles and tempfiles.
/log
/tmp

**/.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*

# ignore rbenv gemsets
.gems

# ignore rails assets
public/assets/**
