angular.module("soil.directives", []).directive("navLocation", ['$location', ($location) ->
    restrict: "E"
    transclude: true
    scope:
        href: "@"
        name: "@"
        show: "="
        visible: "&"

    link: (scope) ->
        scope.location = (href) ->
            href.substr(1) is $location.url()

    template: "<li ng-class=\"{active: location(href) && visible()}\">" + "<a ng-click=\"show=name\" href=\"{{href}}\" ng-transclude></a>" + "</li>"
    replace: true
]
).directive "uiSelectable", ['$dialog', '$filter', ($dialog, $filter) ->
    (scope, el, attrs) ->
        scope.opts =
            backdrop: true
            keyboard: true
            backdropClick: true
            backdropFade: true
            templateUrl: "<%= asset_path('selectPlantation.html') %>"
            controller: "SelectPlantationCtrl"

        el.selectable stop: (evt, ui) ->
            selected = el.find(".ui-selected").map(->
                idx = $(this).index()
                index: idx
            ).get()
            if scope.selectedRound == scope.player.rounds.length and not scope.round.submitted and not scope.gameOver
                d = $dialog.dialog(scope.opts)
                d.open().then (plantation) ->
                    if plantation
                        i = 0
                        while i < selected.length
                            parcels = $filter('orderBy')(scope.player.rounds[scope.selectedRound - 1].field.parcels,
                                    'number')
                            parcels[selected[i].index].plantation = plantation
                            i++
            scope.$apply()
]