angular.module("soil.directives", []).directive("navBarTop",->
    restrict: "E"
    transclude: true
    scope:
        title: "@"

    template: "<div class=\"navbar navbar-fixed-top\">" + "<div class=\"navbar-inner\">" + "<div class=\"container\">" + "<div class=\"nav-collapse\">" + "<a class=\"brand\" href=\"#/\">{{title}}</a>" + "<ul class=\"nav\" ng-transclude></ul>" + "</div>" + "</div>" + "</div>" + "</div>"
    replace: true
).directive("navLocation",($location) ->
    restrict: "E"
    transclude: true
    scope:
        href: "@"
        name: "@"
        show: "="
        visible: "&"

    link: (scope) ->
        scope.location = (href) ->
            href.substr(1) is $location.url()

    template: "<li ng-class=\"{active: location(href) && visible()}\">" + "<a ng-click=\"show=name\" href=\"{{href}}\" ng-transclude></a>" + "</li>"
    replace: true
).directive "uiSelectable", ($dialog,$filter) ->
    (scope, el, attrs) ->
        scope.opts =
            backdrop: true
            keyboard: true
            backdropClick: true
            backdropFade: true
            templateUrl: "<%= asset_path('selectPlantation.html') %>"
            controller: "selectPlantationCtrl"

        el.selectable stop: (evt, ui) ->
            selected = el.find(".ui-selected").map(->
                idx = $(this).index()
                index: idx
            ).get()
            if scope.currentRound == scope.rounds.length
                d = $dialog.dialog(scope.opts)
                d.open().then (plantation) ->
                    if plantation
                        i = 0
                        while i < selected.length
                            parcels = $filter('orderBy')(scope.rounds[scope.currentRound - 1].field_attributes.parcels_attributes,'number')
                            parcels[selected[i].index].plantation = plantation
                            i++

            scope.$apply()
