<div class="modal-header">
  <h2>Ende des Spiels!<button ng-click="close()" class="close pull-right">&times;</button></h2>
</div>
<div class="modal-body">
  <ul>
    <li>Wetter: {{round.result.weather}}</li>
    <li>Schädlinge: {{round.result.vermin}}</li>
    <li>Gewinn: {{round.result.profit}}</li>
  </ul>
</div>