<div class="field">
    <ol ui-selectable>
        <li ng-repeat="parcel in round.field.parcels | orderBy:'number'"
            class="{{parcel.plantation | lowercase}} ui-state-default">
            {{parcel.plantation}}
        </li>
    </ol>
</div>
<div class="soil" ui-if="show=='soil'">
    <ol class="ui-selectable">
      <li style="background-size: 0; background-color: hsl({{1.5*parcel.soil-20}},100%,40%);" ng-repeat="parcel in round.field.parcels | orderBy:'number'"
            class="ui-state-default">
            {{parcel.soil}}%
        </li>
    </ol>
</div>
<div class="nutrition" ui-if="show=='nutrition'">
    <ol class="ui-selectable">
      <li style="background-size: 0; background-color: hsl({{1.5*parcel.nutrition-20}},100%,40%);" ng-repeat="parcel in round.field.parcels | orderBy:'number'"
            class="ui-state-default">
            {{parcel.nutrition}}%
        </li>
    </ol>
</div>
<div class="cropsequence" ui-if="show=='cropsequence'">
    <ol class="ui-selectable">
      <li ng-repeat="parcel in round.field.parcels | orderBy:'number'"
            class="{{parcel.cropsequence | lowercase}} ui-state-default">
            {{parcel.cropsequence}}
        </li>
    </ol>
</div>
<div class="harvest" ui-if="show=='harvest'">
    <ol class="ui-selectable">
      <li ng-repeat="parcel in round.field.parcels | orderBy:'number'"
            class="{{parcel.cropsequence | lowercase}} ui-state-default">
        {{parcel.harvest.split('_').join(' ');}}</br><div style="line-height: 0em;">({{parcel.harvest_yield}} dT)</div>
        </li>
    </ol>
</div>