<div class="finance" ng-init="getGroups()">
    <table cellpadding="5px" border="1">
        <thead>
        <th colspan="3">Runde {{currentRound}}</th>
        <th ng-repeat="group in groups">{{group.group.groupname}}</th>
        </thead>
        <tr>
            <th colspan="2" rowspan="5">Entscheidungen</th>
            <th>Konventioneller Dünger</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-2].decision.fertilize | checkmark}}</td>
        </tr>
        <tr>
            <th>Pestizide</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-2].decision.pesticide | checkmark}}</td>
        </tr>
        <tr>
            <th>Nützlinge</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-2].decision.organisms | checkmark}}</td>
        </tr>
        <tr>
            <th>Einsatz von Maschinen</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-2].decision.machines}}</td>
        </tr>
        <tr>
            <th>Bio Siegel</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-2].decision.organic | checkmark}}</td>
        </tr>
        <tr>
            <th colspan="2" rowspan="4">Übersicht</th>
            <th>Einsatz von Maschinen</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.machines}}</td>
        </tr>
        <tr>
            <th>Bio-Siegel</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.organic | checkmark}}</td>
        </tr>
        <tr>
            <th>Wetter</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.weather}}</td>
        </tr>
        <tr>
            <th>Schädlinge</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.vermin}}</td>
        </tr>
        <tr>
            <th colspan="3">Startkapital</th>
            <td ng-repeat="group in groups">{{group.group.seedcapital}}</td>
        </tr>
        <tr>
            <th rowspan="17">Ausgaben</th>
            <th rowspan="8">Saatgut</th>
            <th>Ackerbohnen</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.seed.fieldbean}}</td>
        </tr>
        <tr>
            <th>Gerste</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.seed.barley}}</td>
        </tr>
        <tr>
            <th>Hafer</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.seed.oat}}</td>
        </tr>
        <tr>
            <th>Kartoffeln</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.seed.potatoe}}</td>
        </tr>
        <tr>
            <th>Mais</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.seed.corn}}</td>
        </tr>
        <tr>
            <th>Roggen</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.seed.rye}}</td>
        </tr>
        <tr>
            <th>Weizen</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.seed.wheat}}</td>

        </tr>
        <tr>
            <th>Zuckerrüben</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.seed.beet}}</td>
        </tr>
        <tr>
            <th rowspan="2">Investitionen</th>
            <th>Tiere</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.investment.animals}}</td>
        </tr>
        <tr>
            <th>Einsatz von Maschinen</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.investment.machines}}</td>
        </tr>
        <tr>
            <th rowspan="6">Laufende Kosten</th>
            <th>Kontrollen Bio-Siegel</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.running_cost.organic_control}}</td>
        </tr>
        <tr>
            <th>Konventioneller Dünger</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.running_cost.fertilize}}</td>
        </tr>
        <tr>
            <th>Pestizide</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.running_cost.pesticide}}</td>
        </tr>
        <tr>
            <th>Nützlinge</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.running_cost.organisms}}</td>
        </tr>
        <tr>
            <th>Tiere</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.running_cost.animals}}</td>
        </tr>
        <tr>
            <th>Grundkosten</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.running_cost.base}}</td>
        </tr>
        <tr>
            <th colspan="2">Summe</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.expense.sum}}</td>
        </tr>
        <tr>
            <th rowspan="9">Einnahmen</th>
            <th rowspan="8">Ernteerträge</th>
            <th>Ackerbohnen</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.income.harvest.fieldbean}}</td>
        </tr>
        <tr>
            <th>Gerste</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.income.harvest.barley}}</td>
        </tr>
        <tr>
            <th>Hafer</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.income.harvest.oat}}</td>
        </tr>
        <tr>
            <th>Kartoffeln</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.income.harvest.potatoe}}</td>
        </tr>
        <tr>
            <th>Mais</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.income.harvest.corn}}</td>
        </tr>
        <tr>
            <th>Roggen</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.income.harvest.rye}}</td>
        </tr>
        <tr>
            <th>Weizen</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.income.harvest.wheat}}</td>
        </tr>
        <tr>
            <th>Zuckerrüben</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.income.harvest.beet}}</td>
        </tr>
        <tr>
            <th colspan="2">Summe</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.income.sum}}</td>
        </tr>
        <tr>
            <th colspan="3">Gewinn</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.profit}}</td>
        </tr>
        <tr>
            <th colspan="3">Kapital</th>
            <td ng-repeat="group in groups">{{(group.group.rounds | orderBy:'number')[currentRound-1].result.capital}}</td>
        </tr>
    </table>
</div>
