<div class="finance">
    <table cellpadding="5px" border="1">
        <thead>
        <th colspan="3">Runde {{currentRound}}</th>
        <th ng-repeat="group in groups">{{group.name}}</th>
        </thead>
        <tr>
            <th colspan="2" rowspan="5">Entscheidungen</th>
            <th>Konventioneller Dünger</th>
            <td ng-repeat="group in groups">{{group.decision.fertilize | checkmark}}</td>
        </tr>
        <tr>
            <th>Pestizide</th>
            <td ng-repeat="group in groups">{{group.decision.pesticide | checkmark}}</td>
        </tr>
        <tr>
            <th>Nützlinge</th>
            <td ng-repeat="group in groups">{{group.decision.organisms | checkmark}}</td>
        </tr>
        <tr>
            <th>Einsatz von Maschinen</th>
            <td ng-repeat="group in groups">{{group.decision.machines}}</td>
        </tr>
        <tr>
            <th>Bio Siegel</th>
            <td ng-repeat="group in groups">{{group.overview.organic | checkmark}}</td>
        </tr>
        <tr>
            <th colspan="2" rowspan="4">Übersicht</th>
            <th>Einsatz von Maschinen</th>
            <td ng-repeat="group in groups">{{group.overview.machines}}</td>
        </tr>
        <tr>
            <th>Bio-Siegel</th>
            <td ng-repeat="group in groups">{{group.decision.organic | checkmark}}</td>
        </tr>
        <tr>
            <th>Wetter</th>
            <td ng-repeat="group in groups">{{group.overview.weather}}</td>
        </tr>
        <tr>
            <th>Schädlinge</th>
            <td ng-repeat="group in groups">{{group.overview.vermin}}</td>
        </tr>
        <tr>
            <th colspan="3">Startkapital</th>
            <td ng-repeat="group in groups">{{group.seedcapital}}</td>
        </tr>
        <tr>
            <th rowspan="17">Ausgaben</th>
            <th rowspan="8">Saatgut</th>
            <th>Ackerbohnen</th>
            <td ng-repeat="group in groups">{{group.expenses_seeds_fieldbean}}</td>
        </tr>
        <tr>
            <th>Gerste</th>
            <td ng-repeat="group in groups">{{group.expenses_seeds_barley}}</td>
        </tr>
        <tr>
            <th>Hafer</th>
            <td ng-repeat="group in groups">{{group.expenses_seeds_oat}}</td>
        </tr>
        <tr>
            <th>Kartoffeln</th>
            <td ng-repeat="group in groups">{{group.expenses_seeds_potatoes}}</td>
        </tr>
        <tr>
            <th>Mais</th>
            <td ng-repeat="group in groups">{{group.expenses_seeds_corn}}</td>
        </tr>
        <tr>
            <th>Roggen</th>
            <td ng-repeat="group in groups">{{group.expenses_seeds_rye}}</td>
        </tr>
        <tr>
            <th>Weizen</th>
            <td ng-repeat="group in groups">{{group.expenses_seeds_wheat}}</td>
        </tr>
        <tr>
            <th>Zuckerrüben</th>
            <td ng-repeat="group in groups">{{group.expenses_seeds_beet}}</td>
        </tr>
        <tr>
            <th rowspan="2">Investitionen</th>
            <th>Tiere</th>
        </tr>
        <tr>
            <th>Einsatz von Maschinen</th>
        </tr>
        <tr>
            <th rowspan="6">Laufende Kosten</th>
            <th>Kontrollen Bio-Siegel</th>
        </tr>
        <tr>
            <th>Konventioneller Dünger</th>
        </tr>
        <tr>
            <th>Pestizide</th>
        </tr>
        <tr>
            <th>Nützlinge</th>
        </tr>
        <tr>
            <th>Tiere</th>
        </tr>
        <tr>
            <th>Grundkosten</th>
        </tr>
        <tr>
            <th colspan="2">Summe</th>
        </tr>
        <tr>
            <th rowspan="9">Einnahmen</th>
            <th rowspan="8">Ernteerträge</th>
            <th>Ackerbohnen</th>
        </tr>
        <tr>
            <th>Gerste</th>
        </tr>
        <tr>
            <th>Hafer</th>
        </tr>
        <tr>
            <th>Kartoffeln</th>
        </tr>
        <tr>
            <th>Mais</th>
        </tr>
        <tr>
            <th>Roggen</th>
        </tr>
        <tr>
            <th>Weizen</th>
        </tr>
        <tr>
            <th>Zuckerrüben</th>
        </tr>
        <tr>
            <th colspan="2">Summe</th>
        </tr>
        <tr>
            <th colspan="3">Gewinn</th>
        </tr>
        <tr>
            <th colspan="3">Kapital</th>
        </tr>
    </table>
</div>
