<div style="text-align: center;" class="modal-header">
  <span ui-if="show=='cropsequence'" ng-include="'<%= asset_path('cropsequence.svg')%>'"></span>
  <span ui-if="show=='soil'" ng-include="'<%= asset_path('soil.svg')%>'"></span>
  <span ui-if="show=='nutrition'" ng-include="'<%= asset_path('nutrition.svg')%>'"></span>
  <span ui-if="show=='harvest'" ng-include="'<%= asset_path('harvest.svg')%>'"></span>
</div>