<h3>Kontakt</h3>
<p>
  Florian Feldhaus<br>
  44139 Dortmund<br>
  Email: florian.feldhaus@tu-dortmund.de
</p>


<h3>Verantwortlich für den Inhalt:</h3>
<p>
  Nina Wolf<br>
  44139 Dortmund<br>
  Email: nina.wolf@tu-dortmund.de
</p>

<h3>Quellenangaben für verwendete Bilder:</h3>
<ul>
    <li><a href="https://commons.wikimedia.org/wiki/File:Farmstead_in_winter,_Windsor_Township,_Berks_County,_Pennsylvania.jpg">Hintergrundbild Farmstead, Windsor Township, Berks County</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:Drought.jpg">Dürre</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:Ostrinia.nubilalis.7771.jpg">Maiszünsler</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:Marienk%C3%A4fer_0241.jpg">Marienkäfer</a></li>
    <li><a href="http://www.oekolandbau.de">Ökolandbau - Das Informationsportal</a></li>
    <li><a href="https://commons.wikimedia.org/wiki/File:Organic-Logo.svg">Logo "Euro-Blatt", Bio-Siegel nach Verordnung (EG) Nr.834/2007 über die ökologische/biologische Produktion und die Kennzeichnung von ökologischen/biologischen Erzeugnissen der Europäischen Kommission</a></li>
    <li><a href="https://www.landwirtschaftskammer.de">Landwirtschaftskammer Nordrhein-Westfalen</a></li>
    <li><a href="https://www.bio-siegel.de/">Bio-Siegel</a></li>
</ul>

<h3>Haftungsausschluss:</h3>
<p>
  Für Richtigkeit und Vollständigkeit der Inhalte dieser Webseite wird keine Gewähr übernommen.
  Die Inhalte dieser Seite unterliegen dem deutschen Urheberrecht. Jegliche Vervielfältigung oder Verbreitung bedarf der
  schriftlichen Zustimmung. Downloads und Kopien sind nur für den nicht kommerziellen Gebrauch gestattet.
  Es wird keine Verantwortung für Inhalte von Seiten externer Anbieter übernommen, auf die mit Links verwiesen wird. Für
  externe Seiten sind ausschließlich die jeweiligen Anbieter verantwortlich.
  Die Nutzung der Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Personenbezogene Daten, die zur
  Registrierung als Spielleitung erforderlich sind, sowie Spieldaten werden nicht an Dritte weitergegeben.
</p>