<% flash.each do |type, message| %>
      <div ng-if="!hideAlert">
        <div class="alert <%= bootstrap_class_for(type) %> fade in">
          <button class="close" ng-click="$parent.hideAlert=true">×</button><%= message %>
        </div>
      </div>
<% end %>