<p>Soil ist ein interaktives Planspiel zum Thema Landwirtschaft. Die Spieler können hierbei ökologische und ökonomische
  Entscheidungen treffen und deren Auswirkungen erfahren.</p>
<img src="<%= asset_path('spielfeld.jpg') %>"/>